<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studying.studies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- //Проверка доступности интернета -->
    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dz1.Dz1Activity" />
        <activity android:name=".lesson2.Lesson2Activity" />
        <activity android:name=".lesson3.Lesson3Activity" />
        <activity android:name=".dz2.Dz2Activity" />
        <activity android:name=".dz3.Dz3Activity" />
        <activity android:name=".lesson4.Lesson4Activity" />
        <activity android:name=".dz4.Dz4Activity" />
        <activity android:name=".dz4.BlinkOwlActivity" />
        <activity android:name=".dz4.ClockActivity" />
        <activity android:name=".lesson5.Lesson5Activity" />
        <activity android:name=".dz5.Dz5Activity" />

        <!--
        <receiver android:name=".lesson5.MyBroadcastReceiver">
            <intent-filter>
                &lt;!&ndash;Указывает события, которые хотим получать&ndash;&gt;
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        -->

        <service android:name=".lesson5.MyService" />
        <service android:name=".lesson5.MyIntentService" />
        <service android:name=".dz5.MyService" />

        <activity android:name=".lesson6.Lesson6Activity" />
        <activity android:name=".dz6.Dz6Activity" />
        <activity android:name=".lesson7.Lesson7Activity"/>
        <activity android:name=".dz7.Dz7Activity"/>
        <activity android:name=".dz7_1.Dz7_1Activity"/>
        <activity android:name=".lesson8.Lesson8Activity"/>
        <activity android:name=".lesson9.Lesson9Activity"/>
        <activity android:name=".dz9.Dz9Activity"/>
        <activity android:name=".dz10.Dz10Activity"/>
        <activity android:name=".dz11.Dz11Activity"/>
        <activity android:name=".dz11.EditProfileActivity"/>
        <activity android:name=".lesson12.Lesson12Activity"/>

    </application>

</manifest>